@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span7 offset4">
        Oops! Thanks for indicating you didn't request an account. The request is now deleted.<br />
        <br />
        By the way: did you know you should use a strong password for every website and service you 
        register for? Do you use the same password over and over on many websites? Now, you know 
        that's bad practice, right?<br />
        Why don't you give this service a try. It allows you to securely store a unique and very 
        strong password for every site or application you use. You can even store your credit card 
        PIN with us safely, because it is encrypted on your computer, before it's sent to the 
        server. That means that no one but you knows your secrets! How's that for safe and secure?
        <br /><br />
        @Html.ActionLink("Give it a try and sign up!", "", "")<br />
        <br />
        Safe browsing.<br />
    </div>
</div>
