<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Opama</title>
    <link rel="stylesheet" href="~/css/bootstrap-2.3.1-min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> @*ToDo: Fix minification*@
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/modernizr-2.6.2.js"></script>
    <script src="~/js/bootstrap-2.3.1-min.js"></script>
    <script src="~/js/sjcl.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=[Place your tag here]"></script> @*ToDo, or clear this.*@
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '[Place your tag here]'); /*ToDo, or clear this.*/
    </script>

    @*The icons*@
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    @*ToDo: Make header fixed*@
    <div id="header" class="row-fluid">
        <div class="span6 offset2">
            <div>
                <a class="homeLink" href="/">
                    <img src="~/images/Opama_logo.svg" />
                    Opama
                </a>
                @RenderSection("pageTitle", required: false)
            </div>
        </div>
        <div class="span2 signOutLink">
            <div id="profile">
                @Html.ActionLink("Sign out", "", "", null, new { id = "signOutLink", style = "display: none;" } )
            </div>
        </div>
    </div>
    <div id="body">
        <div id="main-content">
            @RenderBody()
        </div>
    </div>
    <div id="footer" class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            @*ToDo: Make footer fixed*@
            This password manager is powered by Opama. Get your own at <a href="https://github.io/gerardv/opama" target="_blank">https://github.io/gerardv/opama</a>.
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
