<div id="recordsPanel" class="panel" style="display: none">

    <div class="span4 panelContent">

        <div class="searchbox input-group">
            <i class="icon-search"></i>
            <input id="searchbox" class="form-control" name="Searchbox" type="text" placeholder="Search..." />
        </div>
        <div id="records" class="table table-bordered table-hover">
            @*This is where the records will be included through the mustache template.*@
        </div>
        <button id="newItemButton" class="btn btn-medium btn-success pull-right">New item</button>

    </div>

</div>
